.title-block {
  margin-bottom: 52px;
}
.title {
  color: $black;
  font-size: 32px;
  font-weight: $fw-b;

  margin-bottom: 16px;
}
.subtitle {
  color: $gray-dark;
  font-size: 14px;
  font-weight: $fw-r;
}
