.input-block {
  position: relative;
}

.input-label {
  display: block;
  font-size: $fs-l;
  font-weight: $fw-m;
  line-height: $input-line-height;
  margin-bottom: 12px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  box-sizing: border-box;

  width: 100%;

  font-size: $fs-m;
  line-height: $input-line-height;
  color: $gray-dark;

  background-color: $lgray;

  padding: 16px 48px;

  border-radius: 12px;

  &:focus {
    outline: 2px solid $blue-light;
  }
}

.input-icon {
  position: absolute;
  left: 12px;
  width: 24px;
  height: 24px;
  top: auto;
}

.password-toggle {
  position: absolute;
  right: 0;
  padding: 12px;
}

///
///
///
///
///
///

.fileInputContainer {
  display: inline-block;
  position: relative;
}

.customLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: $blue-dark;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $blue;
  }
}

.fileName {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: $gray;
}

.file-input__label {
  display: block;
  margin-bottom: 12px;
}
