.page {
  background-image: url("/src/assets/images/authbanner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.template {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
}
