//colors

$green: #47d18c;
$green-light: #b1dfc9;
$green-dark: #2eb873;

$orange: #faccb9;
$orange-light: #fcddd1;
$orange-dark: #f59a74;

$blue: #7cbbfa;
$blue-light: #b6daff;
$blue-dark: #1f8fff;

$red: #ee5566;
$red-light: #e60019;
$red-dark: #f7aab2;

$gray: #aaafbe;
$gray-light: #d4d7df;
$gray-dark: #7f879e;

$secondary-yellow: #fee5a4;
$secondary-yellow-green: #eaedb6;
$secondary-lightblue: #a4d8fe;
$secondary-purpule: #aba4fe;
$secondary-pink: #fea4e5;

$black: #1b2124;
$black-light: #8d9092;

$white: #ffffff;

$screen-beige: #fbf3e5;
$screen-green: #d6f6e7;

$sblack: #2e334b;
$sblack-ligh: #3d425a;
$sblack-dark: #252a3f;

$lgray: #f6f8f9;
$lgray-light: #f9f9f9;
$lgray-dark: #f3f3f3;

//font
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;

$fs-s: 12px;
$fs-m: 14px;
$fs-l: 16px;
$fs-xl: 18px;
$fs-xxl: 32px;

$font-family: "Ubuntu", sans-serif;

$line-height: 130%;
$input-line-height: 160%;
